<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">
 
 	
 
 
    <select id="selectYear" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from requestinfo ri
        join user
        on ri.userID = user.userID
        where left(ri.createDate, 2) =   #{year} 
        		and ri.requestCode   =   #{type} 
        		and user.HR_ORGAN   like #{department};</select>
    
    
    <select id="selectMonth" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from requestinfo ri
        join user
        on ri.userID = user.userID
        where left(ri.createDate, 4) =   #{yearMonth} 
        		and ri.requestCode   =   #{type} 
        		and user.HR_ORGAN   like #{department};
        
    </select>
    
    <select id="selectDay" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from requestinfo ri
        join user
        on ri.userID = user.userID
        where left(ri.createDate, 6) =   #{yearMonthDate} 
        		and ri.requestCode   =   #{type} 
        		and user.HR_ORGAN   like #{department};
    
    </select>
    
    
</mapper>